<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
	こんにちは、[[${@account.logname}]]さん
	<br>
	
	<h1>商品検索</h1>
	<form action="/items" method="get">
			商品名：<input type="text" name="prod" th:value="${prod}"><br>
			　値段：<input type="text" name="maxPrice" th:value="${maxPrice}">円以下
			<input type="submit" value="検索">
	</form>

	<h1>商品一覧</h1>
		<table border="1">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>値段</th>
			<th>更新</th>
			<th>削除</th>
		</tr>
		<tr th:each="item : ${list}">
			<td>[[${item.id}]]</td>
			<td>[[${item.name}]]</td>
			<td>[[${item.price}]]</td>
			<td>
				<form th:action="|/items/${item.id}/edit|" method="get">
				<input type="submit" value="更新">
				</form>
			</td>
			<td>
				<form th:action="|/items/${item.id}/delete|" method="post">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>		
	</table>
	<a href="/items/add">新規登録</a>
	<a href="/logout">ログアウト</a>

	

</body>
</html>